.post {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    line-height: 1.8;
    font-size: large;
    font-family: sans-serif;
    border-radius: 5px;
}

.post + .post {
    /* border-top: 1px solid #a0a0a0; */
    padding-top: 3rem;
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: #aaa;
    transition: 0.1s;
}

a:hover {
    text-decoration: none;
    color: #555;
}

.dark-post {
    background-color: #222;
    color: aliceblue;
}

.light-post {
    background-color: aliceblue;
    color: #222;
}
